/* This is my own stylesheet for my home page */

/* ------------------------------ */
/* Colors, positions and paddings */
/* ------------------------------ */

body{
    background-color: darkslategrey;
}

.container{
    background-color: ghostwhite;
}

.main-content{
    background-color: white;
    box-shadow: 2px 2px 10px rgb(27,27,27);
    padding: 15px;
    margin-bottom: 20px;
}

.sidebar{
    background-color: white;
    box-shadow: 2px 2px 10px rgb(27,27,27);
    padding: 15px;
    margin-bottom: 20px;
}

.sub-content{
    background-color: ghostwhite;
    box-shadow: 2px 2px 10px rgb(27,27,27);
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

li {
    display: inline;
}

nav{
    background-color: darkslategray;
    box-shadow: 2px 2px 10px black;
    height: 130px;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
}

nav a{
    line-height: 20px;
    padding: 6px 10px;
    width: 90px;
}

nav h1{
    float: left;
    margin: 5px 10px;
    
}

nav ul{
    line-height: 20px;
    list-style-type: none;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0px;
    right: 20px;   
}

/* ---------- */
/* Typography */
/* ---------- */

nav a{
    color: ghostwhite;
    font-family: Helvetica;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

nav a:hover{
    color: ghostwhite;
    text-decoration: none;
    text-shadow: 2px 2px 3px rgb(27,27,27);
}

nav h1{
    color: ghostwhite;
    font-family: Helvetica;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}

p {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.5em;
}

h3{
    border-bottom: solid 1px;
}